# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env
env.copy

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db

# Home Assistant
*.db
*.db-shm
*.db-wal
home-assistant.log
home-assistant_v2.db

# Test files
test_output/
