# Exemple de configuration pour ThermoMaven Client
# Copiez ce fichier vers .env et remplissez avec vos vraies valeurs

THERMOMAVEN_EMAIL=
THERMOMAVEN_PASSWORD=
THERMOMAVEN_APP_KEY=bcd4596f1bb8419a92669c8017bf25e8
THERMOMAVEN_APP_ID=ap4060eff28137181bd

